:root {
    --blue: #3674B5;
    --yellow: #F5F0CD; 
}

* {
    font-family: "Garamond", "Baskerville", "Georgia", serif;
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    padding: 1em;
}

#header h1 {
    color: var(--yellow);
}

#header-and-logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo {
    max-height: 33px;
    max-width: 50px;
}

#add-book-btn, button {
    height: 2em;
    padding: 1em;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    gap: 20px; /* Spacing between cards */
    padding: 1em;
}

.card {
    width: 300px; /* Adjust card width */
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--yellow);
    padding: 1em;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}

#read-checkbox[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

#add-book-dialog {
    position: absolute;
    top: 50%; /* Positions the top edge of the popup at the vertical midpoint */
    left: 50%; /* Positions the left edge of the popup at the horizontal midpoint */
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: var(--blue);
    color: var(--yellow);
}

#add-book-form {
    min-width: fit-content;
    min-height: fit-content;
    padding: 2em;
    left: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2em;
}

#add-book-form input {
    background-color: var(--yellow);
    border: 1px solid black;
    border-radius: 5px;
    height: fit-content;
    padding: 4px;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Increase size by 1.5x */   
}

#already-read {
    display: flex;
    gap: 1em;
    align-items: center;
}

button {
    width: fit-content;
}

#submit-cancel-btn-container {
    display: flex;
    justify-content: space-evenly;
}